<ngx-ui-loader
fgsColor="#00ACC1" text="Hold On!!" pbColor="#00ACC1"
>
</ngx-ui-loader>
<mat-card>
    <mat-dialog-actions>
      <h2>Edit Task     <button mat-button  matTooltip="Edit" (click)="disableForm()">
        <mat-icon>edit</mat-icon>
      </button></h2>
      <div class="close-Button">
        <button mat-button mat-dialog-close matTooltip="Close">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </mat-dialog-actions>
  
    <form [formGroup]="AddTask" (ngSubmit)="onSubmit()" >
  
      <div class="taskTitle">
        <mat-form-field class="block">
          <mat-label>Task Name</mat-label>
          <input matInput formControlName="taskName">
          <mat-error *ngIf="taskName?.invalid && (taskName?.dirty || taskName?.touched)">
            <mat-error *ngIf="taskName?.errors?.['required']">
              Task name is required
            </mat-error>
            <mat-error *ngIf="taskName?.hasError('pattern')">
              Task name should start with a character
            </mat-error>
            <mat-error *ngIf="taskName?.hasError('maxLengthExceeded')">
              Task name should not exceed 20 characters
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
  
  
      <div class="valid-forms">
        <mat-form-field class="input">
          <mat-label>Task Content</mat-label>
          <textarea matInput formControlName="taskContent"></textarea>
          <mat-error *ngIf="taskContent?.invalid && (taskContent?.dirty || taskContent?.touched)">
            <mat-error *ngIf="taskContent?.errors?.['required']">
              Task Content is required
            </mat-error>
            <mat-error *ngIf="taskContent?.hasError('pattern')">
              Task content should start with a character.
            </mat-error>
            <mat-error *ngIf="taskContent?.hasError('maxWordCountExceeded')">
              Task content should not exceed 20 words
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
  
      <!-- <div class="forms">
        <mat-form-field appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="startDate" [min]="currentDate"
            (dateInput)="setDate()">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
  
      <div class="forms">
        <mat-form-field appearance="fill">
          <mat-label>Due Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="dueDate" [min]="createDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="((startDate?.dirty || startDate?.touched) && (dueDate?.dirty ||dueDate?.touched))">
            <mat-error *ngIf="dueDate?.invalid">
              Start-Date should be less than Due-Date
            </mat-error>
          </mat-error>
  
        </mat-form-field>
  
  
      </div> -->
      <div class="forms">
        <mat-form-field appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="startDate" [min]="currentDate"
            (dateInput)="setDate()">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
  
      <div class="forms">
        <mat-form-field appearance="fill">
          <mat-label>Due Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="dueDate" [min]="createDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="((startDate?.dirty || startDate?.touched) && (dueDate?.dirty ||dueDate?.touched))">
            <mat-error *ngIf="dueDate?.invalid">
              Start-Date should be less than Due-Date
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
<!--   
      <div class="forms">
        <mat-form-field appearance="fill">
          <mat-label>Assigned to</mat-label>
          <mat-select formControlName="members" multiple>
            <mat-select-trigger>
              {{members?.value|| ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let member of projectMembers" [value]="member">{{member}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
  
      <div class="forms">
        <mat-form-field appearance="fill">
          <mat-label>Assigned to</mat-label>
          <mat-select formControlName="members" multiple>
            <mat-select-trigger>
              {{members?.value|| ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let member of frequencyMethod()" [value]="member">{{member}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div id="prty">
      <span mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" id="priority"
        matTooltip="Priority">
        <span>Priority: </span>
        <mat-icon *ngIf="priorityColor=='Urgent'" style="color: red;">flag</mat-icon>
        <mat-icon *ngIf="priorityColor=='High'" style="color: rgb(217, 217, 77);">flag</mat-icon>
        <mat-icon *ngIf="priorityColor=='Low'" style="color: rgb(168, 169, 168);">flag</mat-icon>
        <mat-icon *ngIf="priorityColor=='Normal'" style="color: rgb(84, 165, 211);">flag</mat-icon>
        <mat-icon *ngIf="priorityColor=='Clear'">flag</mat-icon>
      </span>
      <div class="icons-Assignee">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="setPriority('Urgent')">
            <mat-icon style="color: red;">flag</mat-icon>
            <span>Urgent</span>
          </button>
          <button mat-menu-item (click)="setPriority('High')">
            <mat-icon style="color: yellow;">flag</mat-icon>
            <span>High</span>
          </button>
          <button mat-menu-item (click)="setPriority('Normal')">
            <mat-icon style="color: rgb(36, 152, 184);">flag</mat-icon>
            <span>Normal</span>
          </button>
          <button mat-menu-item (click)="setPriority('Low')">
            <mat-icon style="color: rgb(168, 169, 168);">flag</mat-icon>
            <span>Low</span>
          </button>
          <button mat-menu-item (click)="setPriority('Clear')">
            <mat-icon>clear</mat-icon>
            <span>Clear</span>
          </button>
        </mat-menu>
      </div>
    </div>
      <mat-chip color="accent" id="assignedby">Assigned by {{user}}</mat-chip>
  
      <button class="addButton" mat-dialog-close mat-raised-button color="accent"
        [disabled]="!AddTask.valid" type="submit">Edit Task</button>
  
    </form>
  
  </mat-card>