<div class="header">
  <img id="kanbanLogo" src="../../assets/Klogo-removebg-preview.png">
  <div class="header-right">
      <a class="active" routerLink="/register">Sign Up</a>
      <a href="#contact" routerLink="/login">Login</a>
  </div>
</div>
<div class="dashboard">
  <div class="content">
      <p id="head">A scalable project management tool for any team</p>
      <p class="defn">From a simple to-do list to a complete project management tool, scale it & slay it!
          <button style="color:white"  routerLink="/register" mat-button>Register Now</button></p>
  </div>
  <div class="kanbanimg">
      <img id="kanban" src="../../assets/kanban2.gif">
  </div>
</div>
<div class="cont2">
  <div>
      <img id='desgn' src="../../assets/taskdesgn.gif">
  </div>

  <div class="content2">
      <span>Stop starting. Start finishing.</span>
      <p class="defn2">
          Limit your work-in-progress and get more done. Get a better flow on your Kanban board by focusing on
          completing tasks instead of starting new tasks.
      </p>
      <p>
          Work with the team without cluttering the tasks. Organize beautifully so everyone can understand the
          progress.
      </p>
      <p>Manage projects at any scale. Assign tasks, priorities, and deadlines to the team and get them done on time
      </p>
  </div>
</div>

<div class="cont3">
  <div class="content3">
      <p id="head3">Visualize and Customize how your team’s work flows</p>
      <p id="para">Visualizing work in a team environment simplifies communication and leads to improved productivity.</p>
      <p>Any changes you make on your Kanban board are instantly available to all members of the team.</p>
      <strong> <p>Away from your desktop? Stay up-to-date with our mobile web app. Always know what your team is working on at any moment, anywhere.</p></strong>     
  </div>
  <div class="desgn3">
     <img id="kanbanimg" src="../../assets/kanban (1).png">
  </div>
</div>
<!-- Footer -->
<div class="footer">
 
          <hr class="small">
          
          <div class="container">
          <div class="row">
          <div class="col-md-8 col-sm-6 col-12">
          <p class="copyright-text">Copyright © 2023 All Rights Reserved by WorkFlo.com
          
          </p>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
          <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>

          </ul>
         </div>
         </div>
         
  </div>
  <div id="light">
      <div id="lineh1"></div>
      <div id="lineh2"></div>
  <div id="lineh3"></div>
  <div id="lineh4"></div>
</div>

</div>